<!doctype html>
<html>
<head>
  <title>TinyLink</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
<header>
  <h1><a href="/">TinyLink</a></h1>
</header>

<main>
  <%- body %>
</main>
</body>
</html>
